header {
  background: black url(logo.jpg) no-repeat 5% 50%;
}

footer {
  background-color: black;
}

table {
background: gray;
    color: black;
}
table, th, td {
    border: 2px solid black;
}

.name{
	font-size: 36px;
	padding-top: 30px;
	text-align: center;
  color: white;
}

.menu a {
	display: block;
	padding: 1em;
	border-right: 1px solid #ADC0CE;
}
.menu li{
	float: left;
}

table {
  width: 90%;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #CCFF66;
}

.even, .header_table {
  background-color: #669900;
}
